{
  "extends": [
    "prettier",
    "eslint-config-prettier",
    "eslint:recommended",
    "react-app",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-case-declarations": "warn",
    "spaced-comment": [
      "warn",
      "always"
    ],
    "guard-for-in": "error",
    "no-labels": "error",
    "no-caller": "error",
    "no-bitwise": "error",
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-new-wrappers": "error",
    "no-eval": "error",
    "no-shadow": [
      "error",
      {
        "hoist": "all"
      }
    ],
    "no-new": "error",
    "no-var": "error",
    "radix": "error",
    "eqeqeq": [
      "error",
      "smart"
    ],
    "prefer-const": "error",
    "object-shorthand": [
      "error",
      "always",
      {
        "avoidExplicitReturnArrows": true
      }
    ],
    "strict": "error",
    "no-debugger": 2,
    "no-empty": 2,
    "curly": [
      "error",
      "all"
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          [
            "external",
            "builtin"
          ],
          "internal",
          [
            "parent",
            "sibling",
            "index"
          ]
        ]
      }
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": [
          "none",
          "all",
          "multiple",
          "single"
        ]
      }
    ],
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      }
    ],
    "react/no-string-refs": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/explicit-function-return-type": "off"
  },
  "plugins": [
    "@typescript-eslint",
    "import",
    "jsx-a11y"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "commonjs": true,
    "node": true
  },
  "root": true,
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": [
        "**/*.ts?(x)"
      ],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
      ],
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": "tsconfig.json"
      },
      "rules": {
        "@typescript-eslint/prefer-optional-chain": "error",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": "error"
      }
    }
  ]
}