design
devops
docs
fixtures
hooks
postgres-data

**/.circleci
**/*.log
**/*.md
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/.github
**/Dockerfile*
**/Thumbs.db
.env*
build/
**/node_modules/
