[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"argon2_cffi" = "==19.1.0"
dj-database-url = "==0.5.0"
django = {extras = ["argon2"],version = "==2.2.4"}
django-memoize = "==2.2.0"
django-storages = "==1.7.1"
"psycopg2-binary" = "==2.8.2"
ptvsd = "==4.2.8"
pytz = "==2019.1"
requests = "==2.21.0"
djangorestframework = "==3.9.2"
celery = {extras = ["sqs", "redis"],version = "==4.3.0"}
django-celery-beat = "==1.4.0"
djangorestframework-simplejwt = "==4.3.0"
djoser = "==1.5.1"
django-fernet-fields = "==0.5"
whitenoise = "*"
django-heroku = "*"
drf-yasg = "*"

[dev-packages]
"flake8" = "==3.7.7"
factory-boy = "==2.11.1"
coverage = "==4.5.3"
django-debug-toolbar = "==1.11"
django-extensions = "==2.1.6"
django-cors-headers = "==3.1.1"
isort = "==4.3.17"
black = "==18.9b0"

[requires]
python_version = "3.7"
