version: 2
jobs:
  backend:
    working_directory: ~/falco

    docker:
      - image: python:3.7
      - image: postgres:10

    environment:
      DATABASE_URL: postgres://postgres@localhost:5432/postgres
      DJANGO_SETTINGS_MODULE: root.settings.dev

    steps:
      - checkout

      - restore_cache:
          keys:
            - backend-{% templatetag openvariable %} .Branch {% templatetag closevariable %}-{% templatetag openvariable %} checksum "backend/Pipfile.lock" {% templatetag closevariable %}
            - backend-{% templatetag openvariable %} .Branch {% templatetag closevariable %}
            - backend-master-{% templatetag openvariable %} checksum "backend/Pipfile.lock" {% templatetag closevariable %}
            - backend-master

      - run:
          name: Install pipenv
          command: pip install pipenv

      - run:
          name: Install python dependencies
          working_directory: backend
          command: pipenv install --dev --system

      - run:
          name: Check for security vulnerabilities
          working_directory: backend
          command: pipenv check

      - run:
          name: Check format
          working_directory: backend
          command: black --diff --check .

      - run:
          name: Check code style
          working_directory: backend
          command: flake8 .

      #   - run:
      #       name: Check imports order
      #       working_directory: backend
      #       command: isort --check-only --recursive --diff .

      - run:
          name: Check Django install
          working_directory: backend
          command: ./manage.py check

      - run:
          name: Migrate database
          working_directory: backend
          command: ./manage.py migrate

      - run:
          name: Run tests
          working_directory: backend
          command: coverage run manage.py test

      - save_cache:
          key: backend-{% templatetag openvariable %} .Branch {% templatetag closevariable %}-{% templatetag openvariable %} checksum "backend/Pipfile.lock" {% templatetag closevariable %}
          paths:
            - ~/.cache/pip

  frontend:
    working_directory: ~/falco

    docker:
      - image: circleci/node:11.3.0

    environment:
      NODE_ENV: test

    steps:
      - checkout

      - restore_cache:
          keys:
            - v2-{% templatetag openvariable %} checksum "frontend/package.json" {% templatetag closevariable %}

      # Only install deps if cache hasn't done it for us already
      - run:
          name: Install dependencies
          working_directory: frontend
          command: |
            [ -d node_modules ] ||
            yarn

      - run:
          name: Run tests
          working_directory: frontend
          command: yarn test

      - run:
          name: Run lint
          working_directory: frontend
          command: yarn lint && yarn lint-style

      - save_cache:
          key: v2-{% templatetag openvariable %} checksum "frontend/package.json" {% templatetag closevariable %}
          paths:
            - ~/.yarn
            - ~/project/node_modules
workflows:
  version: 2
  stack:
    jobs:
      - backend
      - frontend
