{% load static %}

<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
  {% if google_analytics_id %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=" + {{ google_analytics_id }}></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config',  "{{ google_analytics_id }}");
    </script>
  {% endif %}
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="stylesheet" href="/static/reset.css">
  <link rel="stylesheet" href="/static/font.css">
  <title>Falco</title>
  {% if not debug %}
    {% for style in initial_stylesheets %}
      <link href="{% static style %}" rel="stylesheet">
    {% endfor %}
  {% endif %}
  <script type="text/javascript">
    window.$crisp = [];
    window.CRISP_WEBSITE_ID = "549814f3-864a-4606-b5a5-3cbcc594af24";
    (
      function() {
        d = document;
        s = d.createElement("script");
        s.src = "https://client.crisp.chat/l.js";
        s.async = 1;
        d.getElementsByTagName("head")[0].appendChild(s);
      }
      )();
  </script>
</head>

<body style="margin: 0; height: 100%;">
  <div id="root"></div>
  {% if debug %}
  <script type="text/javascript">
      // In development, we dynamically load the entry chunks into the dom.
      // To do so, we load the webpack-generated manifest, filter it to only
      // keep the initial chunks, and insert them in the dom.
      fetch("http://localhost:3000/static-manifest.json")
          .then(function(response) {
              return response.json();
          })
          .then(function(manifest) {
              for (var chunkName in manifest) {
                  var chunk = manifest[chunkName];
                  if (chunk.isInitial && chunk.path.match(/.*\.js$/)) {
                      var script = document.createElement('script');
                      script.type = 'text/javascript';
                      script.src = 'http://localhost:3000/' + chunk.path;
                      document.getElementsByTagName('head')[0].appendChild(script);
                  }
              }
          });
  </script>
  {% else %}
  {% for script in initial_scripts %}
  <script src="{% static script %}"></script>
  {% endfor %}
  {% endif %}
</body>

</html>
