# Cron jobs definitions
#
# Crontab template files are created on each instance and only moved to cron.d
# on the leader instance. Feel free to uncomment and adapt the template below.

# files:
#    "/tmp/stuff.template":
#      mode: "000644"
#      owner: root
#      group: root
#      content: |
#        0 9 * * * root sudo docker exec "$(sudo docker ps --filter "name=backend" -q)" python /code/manage.py stuff

#  container_commands:
#    enable_cron:
#      command: "mv /tmp/stuff.template /etc/cron.d/stuff"
#      leader_only: true
